:root {
    --blue-light: #88BDBC;
    --blue-middle: #254E58;
    --blue-dark: #112D32;
    --grey-dark: #4F4A41;
    --grey-light: #636658;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template:
        "header  header  header  header  header      header  "minmax(100px, auto) "   .    main    main    main    aside-info    .      "3fr "   .    main    main    main    aside-rest    .      "6fr "footer  footer  footer  footer  footer       footer  "1fr / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

header {
    grid-area: header;
    display: grid;
    grid-template:
        ". hcenter hcenter hcenter hcenter ."minmax(100px, auto) / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
    justify-content: center;
}

main {
    border: 1px solid black;
    grid-area: main;
}

footer {
    grid-area: footer;
}

header .header-center {
    grid-area: hcenter;
}

header .header-center {
    padding: 1rem;
    border: 1px solid black;
    background-color: var(--blue-light);
    display: grid;
    grid-template:
        " .    logo    .         search  social  . "20px " .    logo    menu      menu    menu    . "100px / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

/* logo */
.logo {
    grid-area: logo;
}

.social-icons {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
}

.social-icons .fa {
    display: inline-block;
    margin-right: 1.2rem;
}

.search {
    grid-area: search;
    place-self: center end;
}

.menu {
    grid-area: menu;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    display: inline-block;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    color: black;
}

aside.aside-info {
    grid-area: aside-info;
    border: 1px solid black;
}

aside.aside-rest {
    grid-area: aside-rest;
    border: 1px solid black;
}

@media screen and (max-width : 768px) {


    body {
        background: green;
    }
}
