body {
    display: grid;
    grid-template:
        "header  header  header  header  header      header  "minmax(150px, auto)
         "   .    main    main    main    aside-info    .      "auto
         "   .    main    main    main    aside-rest    .      "auto
         "footer  footer  footer  footer  footer       footer  "1fr
         / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

header {
    grid-area: header;
    display: grid;
    grid-template:
        ". hcenter hcenter hcenter hcenter ."minmax(100px, auto) / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
    justify-content: center;
}

main {
    border: 1px solid black;
    grid-area: main;
}

footer {
    grid-area: footer;
}

header .header-center {
    grid-area: hcenter;
}

header .header-center {
    padding: 1rem;
    border: 1px solid black;
    background-color: var(--blue-light);
    display: grid;
    grid-template:
        " .    logo    .         search  social  . "20px " .    logo    menu      menu    menu    . "100px / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

/* logo */
.logo {
    grid-area: logo;
}

.social-icons {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
}

.social-icons .fa {
    display: inline-block;
    margin-right: 1.2rem;
}

.social-icons .fa:hover {
    color: var(--blue-dark);
}

.search {
    grid-area: search;
    place-self: center end;
}

.menu {
    grid-area: menu;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    display: inline-block;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    color: black;
}

.menu a:hover {
    color: var(--blue-dark);
}

aside.aside-info {
    grid-area: aside-info;
    border: 1px solid black;
}

aside.aside-rest {
    grid-area: aside-rest;
    border: 1px solid black;
}



/* footer */
.footer-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--blue-light);
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.copyright{
    text-align: center;
}
